In [1]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import numpy as np
import pandas as pd

# вектор признаков
X = np.array([[ 1000., -15.,  2.],
              [ 2500.,  10.,  1.],
              [ 3000.,  13., -1.]])

X = pd.DataFrame(X, columns=['f1','f2','f3'])
X

       f1    f2   f3
0  1000.0 -15.0  2.0
1  2500.0  10.0  1.0
2  3000.0  13.0 -1.0

In [2]:
X.mean(axis=0)

f1    2166.666667
f2       2.666667
f3       0.666667
dtype: float64

In [3]:
std = StandardScaler()
X_std = std.fit_transform(X)
X_std

array([[-1.37281295, -1.40746549,  1.06904497],
       [ 0.39223227,  0.58423096,  0.26726124],
       [ 0.98058068,  0.82323453, -1.33630621]])

In [4]:
X_std = pd.DataFrame(X_std, columns=['f1','f2','f3'])
# среднее значение по каждому столбцу
X_std.mean(axis=0).round(0)

f1    0.0
f2    0.0
f3    0.0
dtype: float64

In [5]:
X_std.std(axis=0).round()

f1    1.0
f2    1.0
f3    1.0
dtype: float64

In [6]:
mmsc = MinMaxScaler()
X_norm = mmsc.fit_transform(X) # type - numpy array

X_norm = pd.DataFrame(X_norm, columns=['f1','f2','f3'])

In [7]:
X_norm.mean(axis=0)

f1    0.583333
f2    0.630952
f3    0.555556
dtype: float64

In [8]:
X_norm.std(axis=0)

f1    0.520416
f2    0.549041
f3    0.509175
dtype: float64