In [1]:
!pip3 install numpy
!pip3 install pandas
!pip3 install statsmodels

Requirement already satisfied: numpy in c:\users\alexyz\appdata\roaming\python\python310\site-packages (1.22.3)

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\python310\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\alexyz\appdata\roaming\python\python310\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alexyz\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\alexyz\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: statsmodels in c:\python310\lib\site-packages (0.13.2)
Requirement already satisfied: packaging>=21.3 in c:\users\alexyz\appdata\roaming\python\python310\site-packages (from statsmodels) (21.3)
Requirement already satisfied: scipy>=1.3 in c:\python310\lib\site-packages (from statsmodels) (1.8.1)
Requirement already satisfied: numpy>=1.17 in c:\users\alexyz\appdata\roaming\python\python310\site-packages (from statsmodels) (1.22.3)
Requirement already satisfied: pandas>=0.25 in c:\python310\lib\site-packages (from statsmodels) (1.4.3)
Requirement already satisfied: patsy>=0.5.2 in c:\python310\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\alexyz\appdata\roaming\python\python310\site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alexyz\appdata\roaming\python\python310\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\alexyz\appdata\roaming\python\python310\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import numpy as np
import pandas as pd
from statsmodels.tsa.ar_model import AutoReg

In [3]:
train = pd.read_csv("train.csv")
train

                  datetime        total
0      01.01.2005 00:00:00          NaN
1      01.01.2005 01:00:00  154139.8084
2      01.01.2005 02:00:00  157818.3593
3      01.01.2005 03:00:00  149310.6991
4      01.01.2005 04:00:00  138282.0380
...                    ...          ...
35059  31.12.2008 19:00:00  249376.3608
35060  31.12.2008 20:00:00  246510.5725
35061  31.12.2008 21:00:00  226469.4133
35062  31.12.2008 22:00:00  199907.3942
35063  31.12.2008 23:00:00  151086.2414

[35064 rows x 2 columns]

In [4]:
train.replace(np.nan, 0, inplace=True)
train

                  datetime        total
0      01.01.2005 00:00:00       0.0000
1      01.01.2005 01:00:00  154139.8084
2      01.01.2005 02:00:00  157818.3593
3      01.01.2005 03:00:00  149310.6991
4      01.01.2005 04:00:00  138282.0380
...                    ...          ...
35059  31.12.2008 19:00:00  249376.3608
35060  31.12.2008 20:00:00  246510.5725
35061  31.12.2008 21:00:00  226469.4133
35062  31.12.2008 22:00:00  199907.3942
35063  31.12.2008 23:00:00  151086.2414

[35064 rows x 2 columns]

In [5]:
series = train.total.values

In [6]:
ar = AutoReg(series, lags=168).fit()

In [7]:
prediction = ar.predict(start=35064, end=35064+4344-1, dynamic=False)

In [8]:
sample = pd.read_csv("sample.csv")
sample

                 datetime  total
0     01.01.2009 00:00:00      0
1     01.01.2009 01:00:00      0
2     01.01.2009 02:00:00      0
3     01.01.2009 03:00:00      0
4     01.01.2009 04:00:00      0
...                   ...    ...
4339  30.06.2009 19:00:00      0
4340  30.06.2009 20:00:00      0
4341  30.06.2009 21:00:00      0
4342  30.06.2009 22:00:00      0
4343  30.06.2009 23:00:00      0

[4344 rows x 2 columns]

In [9]:
sample["total"] = prediction
sample

                 datetime          total
0     01.01.2009 00:00:00  141795.160409
1     01.01.2009 01:00:00  122348.849896
2     01.01.2009 02:00:00  109032.275479
3     01.01.2009 03:00:00  101638.328050
4     01.01.2009 04:00:00  102951.070940
...                   ...            ...
4339  30.06.2009 19:00:00  212913.340459
4340  30.06.2009 20:00:00  216702.634163
4341  30.06.2009 21:00:00  213963.365730
4342  30.06.2009 22:00:00  203491.605539
4343  30.06.2009 23:00:00  186018.501426

[4344 rows x 2 columns]

In [10]:
sample.to_csv("prediction.csv", index=False)