In [1]:
import pandas as pd

data/students_performance.csv

In [2]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [4]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
student_data.shape

(1000, 8)

In [8]:
student_data.loc[155, 'writing score']

88

In [9]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
student_data['math score'].mean()

66.089

In [11]:
student_data['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [12]:
student_data['test preparation course'].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [13]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [14]:
student_data[student_data['math score'] == 0].shape[0]

1

In [15]:
student_data['lunch'].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [16]:
display(student_data[student_data['lunch'] == 'standard']['math score'].mean())

70.03410852713178

In [17]:
display(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

58.92112676056338

In [18]:
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [19]:
med_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(abs(round((med_a - mean_c), 0)))

6.0