In [6]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import GridSearchCV

In [2]:
df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [3]:
df.drop(['depth', 'table', 'x', 'y', 'z'], axis=1, inplace=True)
df

       carat        cut color clarity  price
0       0.23      Ideal     E     SI2    326
1       0.21    Premium     E     SI1    326
2       0.23       Good     E     VS1    327
3       0.29    Premium     I     VS2    334
4       0.31       Good     J     SI2    335
...      ...        ...   ...     ...    ...
53935   0.72      Ideal     D     SI1   2757
53936   0.72       Good     D     SI1   2757
53937   0.70  Very Good     D     SI1   2757
53938   0.86    Premium     H     SI2   2757
53939   0.75      Ideal     D     SI2   2757

[53940 rows x 5 columns]

In [5]:
df = pd.get_dummies(df, drop_first=True)
df

,carat,price,cut_Premium,cut_Very Good,cut_Good,cut_Fair,color_E,color_F,color_G,color_H,color_I,color_J,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.23,326,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False
1,0.21,326,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False
2,0.23,327,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False
3,0.29,334,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
4,0.31,335,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,2757,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
53936,0.72,2757,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False
53937,0.70,2757,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
53938,0.86,2757,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False
53939,0.75,2757,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [7]:
df['carat'] = np.log(1+df['carat'])
df['price'] = np.log(1+df['price'])
df

,carat,price,cut_Premium,cut_Very Good,cut_Good,cut_Fair,color_E,color_F,color_G,color_H,color_I,color_J,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.207014,5.789960,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False
1,0.190620,5.789960,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False
2,0.207014,5.793014,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False
3,0.254642,5.814131,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
4,0.270027,5.817111,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.542324,7.922261,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
53936,0.542324,7.922261,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False
53937,0.530628,7.922261,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
53938,0.620576,7.922261,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False
53939,0.559616,7.922261,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [8]:
X = df.drop(columns="price")
y = df["price"]

In [ ]:
SGDRegressor()