In [4]:
import pandas as pd

In [5]:
trip_data = pd.read_csv('data/citibike-tripdata.csv')
display(trip_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [6]:
trip_df = trip_data.copy()
display(trip_df.describe())

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [7]:
trip_df['start station id'].isnull().sum()

169

In [8]:
trip_df['start station id'].value_counts(dropna=False)

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 760, dtype: int64

In [9]:
trip_df['bikeid'].value_counts(dropna=False)

bikeid
33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: count, Length: 10004, dtype: int64

In [10]:
trip_df['usertype'].value_counts(dropna=False)

usertype
Subscriber    232202
Customer       67798
Name: count, dtype: int64

In [11]:
trip_df['usertype'] = trip_df['usertype'].astype('category')
display(trip_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  category
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: category(1), float64(6), int64(3), object(4)
memory usage: 30.0+ MB

None

In [12]:
print(trip_df[trip_df['usertype'] == 'Subscriber']['usertype'].count() / trip_df['usertype'].count())

0.7740066666666666

In [13]:
trip_df['gender'] = trip_df['gender'].astype('category')
display(trip_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  category
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  category
dtypes: category(2), float64(6), int64(2), object(4)
memory usage: 28.0+ MB

None

In [14]:
trip_df['gender'].value_counts(dropna=False)

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [15]:
print(trip_df['start station id'].nunique() == trip_df['end station id'].nunique())

False

In [16]:
display(trip_df['starttime'].head(2))

0    2018-09-01 00:00:05.2690
1    2018-09-01 00:00:11.2810
Name: starttime, dtype: object

In [17]:
display(trip_df['birth year'].head(2))

0    1980
1    1969
Name: birth year, dtype: int64

In [18]:
trip_df['starttime'] = pd.to_datetime(trip_df['starttime'])

In [19]:
trip_df['age'] = trip_df['starttime'].dt.year - trip_df['birth year']

In [20]:
trip_df['age'].min()

16

In [21]:
display(trip_df['start station name'].value_counts())

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [22]:
display(trip_df['end station name'].value_counts())

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

In [23]:
trip_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  category
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  category
 12  age                      300000 non-null  int64
dtypes: category(2), datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 25.7+ MB

In [24]:
trip_df.drop(['birth year'], axis=1, inplace=True)

In [25]:
trip_df[trip_df['age'] > 60]['age'].count()

11837

In [32]:
trip_df['stoptime'] = pd.to_datetime(trip_df['stoptime'])
trip_df['trip duration'] = trip_df['stoptime'] - trip_df['starttime']

trip_df['trip duration'].describe()

count                       300000
mean     0 days 00:18:46.558849906
std      0 days 03:21:11.506728527
min         0 days 00:01:01.043000
25%         0 days 00:06:34.174750
50%         0 days 00:11:37.539000
75%         0 days 00:20:56.931000
max        28 days 03:27:31.271000
Name: trip duration, dtype: object

In [34]:
trip_df.iloc[3]['trip duration']

Timedelta('0 days 00:07:16.837000')

In [37]:
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  category
 10  gender                   300000 non-null  category
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
dtypes: category(2), datetime64[ns](2), float64(4), int64(2), object(2), timedelta64[ns](1)
memory usage: 25.7+ MB

In [38]:
trip_df['weekday'] = trip_df['starttime'].dt.dayofweek

trip_df['weekend'] = trip_df['weekday'].apply(lambda x: 1 if x > 4 else 0)
trip_df[trip_df['weekend'] == 1]['weekend'].count()

115135

In [39]:
trip_df.drop(['weekday'], axis=1, inplace=True)

In [42]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    else:
        return 'evening'

In [45]:
trip_df['time of day'] = trip_df['starttime'].dt.hour.apply(get_time_of_day)
print(trip_df['time of day'].value_counts())

time of day
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64

In [46]:
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  category
 10  gender                   300000 non-null  category
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  time of day              300000 non-null  object
dtypes: category(2), datetime64[ns](2), float64(4), int64(3), object(3), timedelta64[ns](1)
memory usage: 30.3+ MB

In [47]:
trip_df['time of day'] = trip_df['time of day'].astype('category')
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  category
 10  gender                   300000 non-null  category
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  time of day              300000 non-null  category
dtypes: category(3), datetime64[ns](2), float64(4), int64(3), object(2), timedelta64[ns](1)
memory usage: 28.3+ MB

In [48]:
print(round(trip_df[trip_df['time of day'] == 'day']['time of day'].count() / trip_df[trip_df['time of day'] == 'night']['time of day'].count(), 0))

9.0